@{
    ViewBag.Title = "Play";
}

<div id="bodyContainer" >
    <div ng-controller="ResourceController">
        <div>{{Error}}</div>
        <div class="row">
            <div class="col-sm-8 form-horizontal">
                <div style="margin-top:10px"></div>
                <div class="html"></div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="button" value="Save" ng-click="saveStudent(student)" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

