<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AutoManagement" connectionString="metadata=res://*/AutoManagement.csdl|res://*/AutoManagement.ssdl|res://*/AutoManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=5ed057d5-3dd2-4b44-87bc-a3cd0118f1c3.sqlserver.sequelizer.com;persist security info=True;user id=qcyqzmvzcntufidj;password=ucY3DgJpqnwGHMqZcgBVTDN5uwCSziHbnesndKsGDQwQgsvzq5Ue2uKYw3FhKYXh;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>